@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  color: #222831;
  font-family: 'Inter', sans-serif;
  margin-left: 80px;
  margin-right: 80px;
}

@media (max-width: 768px) {
  body {
    margin-left: 40px;
    margin-right: 40px;
  }
}